@using Microsoft.AspNetCore.Identity
@using razorweb.models

@inject SignInManager<AppUser> signinmanager;
@inject UserManager<AppUser> usermanager;
@{

}


<ul class = "navbar-nav">
    @if(signinmanager.IsSignedIn(User)){
        <li class = "nav-item"><a class = "nav-link text-dark"  asp-area ="Identity" asp-page = "/Account/Manage/Index"> xin chào @usermanager.GetUserName(User)</a></li>
        <li class = "nav-item"><a class = "nav-link text-dark"  asp-area ="Identity" asp-page = "/Account/Logout">đăng xuất</a></li>
   
    }
    else{
<li class = "nav-item"><a class = "nav-link text-dark"  asp-area ="Identity" asp-page = "/Account/Register">đăng ký</a></li>
    <li class = "nav-item"><a class = "nav-link text-dark"  asp-area ="Identity" asp-page = "/Account/Login">đăng nhập</a></li>
    }
    
</ul>