@page
@model App.Admin.Role.CreateModel

@{
    ViewData["Title"] = "tạo role mới";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model = "@Model.StatusMessage"/>
<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="input.Name" class="control-label"></label>
                <input asp-for="input.Name" class="form-control" />
                <span asp-validation-for="input.Name" class="text-danger"></span>
            </div>
           <div class = "form-group pt-3">
                <input type="submit" value="tạo mới" class = "btn btn-primary">
                <a asp-page="./Index" class= "btn btn-primary">quay lại danh sách các role</a>
           </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}